@import 'helpers/variables';
@import 'helpers/mixins';

// Elementos Flotando
.float-anim {
  @include animaciones(floatanim, 2s, ease, 0s, infinite, alternate, center)
}

@-webkit-keyframes floatanim {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

@-moz-keyframes floatanim {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

@-o-keyframes floatanim {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes floatanim {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

// zoom
.anim-zoom {
  cursor: pointer;
  text-align: center;
  @include animaciones(anim-zoom, 1s);
}

@-webkit-keyframes anim-zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1, 1.1);
  }
}

@-moz-keyframes anim-zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1, 1.1);
  }
}

@-o-keyframes anim-zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1, 1.1);
  }
}

@keyframes anim-zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1, 1.1);
  }
}




