//Estos Temas modifican el background de toda la pagina
//Son manejados directamente ṕor la etiqueta main ubicada en el archivo
// App.vue 

.themalight { 
    --dark_title: #5D2263;
    --texto-svg: #2C68A7;
    --titulo-blue: #2C68A7;
    --letra-textos: #666666; 
    --fondo_main: #F8F8F9;
    --fondo_footer: #F8F8F9;
    --fondo_cabezera: #FFFFFF;
    --fondo_space: #F8F8F9;
    --titulo_lg: #FFFFFF;
    --dark_title_texto: #5D2263;
    --titulo-texto: #2C68A7;
    --barra-nav:#f8f8f947;
    --letras-navbar: #FFFFFF;
    --color_svg: #A06AAA;
    --dark_svgacces: #666666;
    --fondo_modalaccs: #EBF5FF;
    --dark_svgcerrar: #5D2263;
    --logofondo: #FFFFFF;
    --fondo_nuve: #5d2263;
    --footer_main: #F8F8F9;
    --footer_secundario: #F8F8F9;
    --letra_movil:#522761;
    
} 

.themadark { 
  --letra_movil:#FFFFFF;
  --fondo_nuve: #fff8d9;
  --logofondo: #220c35;
  --dark_title: #FFFFFF;
  --titulo-blue: #72A4DA;
  --color_svg: rgba(255,255,255,0.9);
  --texto-svg: #FFFFFF;
  --letra-textos: #f8f8f9bd;
  --fondo_main: #42275a;  /* fallback for old browsers */
  --fondo_main: -webkit-linear-gradient(to bottom, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
  --fondo_main: linear-gradient(to bottom, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --fondo_cabezera:  #42275a;  /* fallback for old browsers */
  --fondo_cabezera: -webkit-linear-gradient(to top, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
  --fondo_cabezera: linear-gradient(to top, #734b6d, #532059); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --dark_title_texto: #f8f8f9; 
  --titulo_lg: #FFFFFF;
  --titulo-texto: #72A4DA;
  --fondo_footer: #42275a;  /* fallback for old browsers */
  --fondo_footer:  -webkit-linear-gradient(to top, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
  --fondo_footer:  linear-gradient(to top, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --barra-nav: #f8f8f947; 
  --letras-navbar: #FFFFFF;
  --dark_svgacces: #FFFFFF;
  --fondo_modalaccs: #000c1a7d;
  --dark_svgcerrar: #66CC33;
  --footer_main:  #42275a;  /* fallback for old browsers */
  --footer_main: -webkit-linear-gradient(to top, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
  --footer_main: linear-gradient(to top, #734b6d, #532059);
  --footer_secundario:#532059;
  --fondo_space:  #42275a;  /* fallback for old browsers */
  --fondo_space: -webkit-linear-gradient(to top, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
  --fondo_space: linear-gradient(to top, #734b6d, #532059);
} 